<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTL57GK5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="nav">

  <!-- LEFT -->
  <div class="nav-left">

   <div class="nav-links">
  <a href="/about" data-lang="en">About</a>
  <span class="nav-separator">–</span>
  <a href="/es/about" data-lang="es">Sobre</a>
</div>

<div class="nav-links">
  <a href="/" data-lang="en">Works</a>
  <span class="nav-separator">–</span>
  <a href="/es/" data-lang="es">Obras</a>
</div>

  </div>

  <!-- CENTER -->
  <div class="nav-center">
    <h1><a href="/" id="home-link">COCOMPI</a></h1>
  </div>

  <!-- RIGHT -->
  <div class="nav-right">
  <a href="https://www.instagram.com/co.compi" target="_blank">Instagram</a>

  <div class="nav-right-bottom">
    <div class="lang-toggle">
      <a href="#" data-set-lang="en">EN</a>
      <span class="nav-separator">–</span>
      <a href="#" data-set-lang="es">ES</a>
    </div>

    <a href="mailto:cocompi.coco@gmail.com">Contact(o)</a>
  </div>
</div>

</header>

    <hr>
