

[id="P4023231415"] .page-content {
	padding-top: 0rem;
	align-items: flex-start;
	width: 100%;
}

[id="P4023231415"].page {
	min-height: var(--viewport-height);
}

[id="P4023231415"] .backdrop {
}

.mobile [id="P4023231415"] .backdrop {
}

[id="P4023231415"] .page-layout {
	align-items: flex-end;
	padding-top: 0rem;
	padding-bottom: 0rem;
}

.mobile [id="P4023231415"] .page-layout {
}
